.background {
  background-image: url("../images/produce.jpg");
  background-repeat:no-repeat;
  height: 100vh;
  background-position: center;
}

.home-header {
  color:white;
  font-family: 'Pacifico', cursive;
  font-size: 70px;  
  text-shadow: #444 3px 3px 6px;
}

.row {
  margin: 0 auto;
}

@media (max-width:768px) {
  .background {
    margin: 1vh;
    background-image: none;
  }
  .btn-lg {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;

  }
  .sidebar {
    display: none;
  }
}

.sidebar {
  z-index: 1000;
  display: block;
  background-color: #d7ec6c;
  height: 100vh;
}

.nav-sidebar > li a{
  margin-top: 200px;
  margin-bottom: 20px;
  text-align: center;
}

.nav-sidebar > li button {
  box-shadow: 5px 5px 10px #97a337;
}

/*top nav bar*/
.navbar-brand {
  color: #a4c917;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  text-decoration: underline;

}

a {
  color: #555;
}
.site-info {
  background: rgba(255,255, 255, 0.3);
  font-weight: bold;

}

.page-header {
  text-align: center;
}

.cta {
  text-align: center;
}

.cta-btn {
  margin-top: 80px;
  margin-right: 15px;
  margin-left: 15px;
  border: 1px solid #ffffff;
/*  box-shadow: 5px 5px 10px #ffffff;*/
}

/*POST PAGE - INPUT FIELDS*/
.preview-img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.post-submit {
  margin-top: 50px; 
  float: right;
  background-color: #d7ec6c;  
  box-shadow: #444 1px 1px 1px;
}

.glyphicon-cloud-upload {
  font-size: 3vh;
  font-weight: 200;
}

.preview {
/*  height: 350px;*/
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Harvest page*/
.harvest-img {
  display: block;
  max-width:350px;
  /*max-height:95px;*/
  width: auto;
  height: auto;
}