<div class="row">
  <div class="col-xs-6 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="about"><button class="btn btn-group-vertical active btn-info btn-lg">About</button></a></li>
      <li><a href="allposts"><button class="btn btn-group-vertical active btn-info btn-lg">Harvest</button></a></li>
      <li><a href="post"><button class="btn btn-group-vertical active btn-info btn-lg">Share</button></a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-10  background">
    <h1 class="page-header home-header">Produce Exchange</h1>
      <div class="col-xs-12 col-md-12 site-info">
        <h3>Want to get rid of some tomatoes? Maybe trade them for some zucchinis?</h3>
        <h3> Click on share to share your produce or click the produce button to check out whats your neighbors have. </h3>
        <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.</p>

        <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>

        <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
      </div>
      <div class="col-md-12 col-xs-12 cta">
          <div class="col-md-4 col-xs-12 col-md-offset-4">
            <a class="btn btn-info btn-lg cta-btn btn-block active" href="/post" role="button">Share</a><a class="btn btn-info btn-lg cta-btn btn-block active" href="allposts" role="button">Harvest</a>
          </div>
      </div>
  </div>
</div>



