<div class="background">
  <div class="container">
  <h1 class="page-header">PRODUCE EXCHANGE</h1>
  <!-- <img ng-src="../images/produce.jpg"> -->
  <p>Want to get rid of some tomatos? Maybe trade them for some zucchinis?</p>
  <p> Click on post to create a posting for your goods or click the look button to check out whats your neighbors have. </p>
  <p><a class="btn btn-primary btn-lg" href="/post" role="button">Post</a><a class="btn btn-primary btn-lg" href="allposts" role="button">Look</a></p>
  </div>
</div>


