<div class="row">
  <div class="col-xs-12 col-md-12  background">
    <h1 class="page-header home-header">Produce Exchange</h1>
      <div class="col-xs-10 col-md-10 col-md-offset-1 ">
        <div class="site-info">
        <h1>Want to get rid of some tomatoes? Maybe trade them for some zucchinis?</h1>
        <h2> Login to share your produce or click the produce button to check out what your neighbors have. </h2>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 cta">
          <div class="col-md-4 col-xs-12 col-md-offset-4">
            <a class="btn btn-info btn-lg cta-btn btn-block active" href="/post" role="button">Share</a><a class="btn btn-info btn-lg cta-btn btn-block active" href="allposts" role="button">Harvest</a>
          </div>
      </div>
  </div>
</div>



