<div class="row">
  <div class="col-md-12 col-xs-12">
    <h1 class="page-header">Share your harvest</h1>
  </div>
  <!-- <div class="col-xs-12 col-md-4 col-md-4-offset-3"> -->
  <div class="col-md-4 col-md-offset-4">
    <!-- Form with input Fields(Post title, description, contact name, email) -->
    <!-- <div class="input-group input-group-lg"> -->
    <form ng-submit="submitPost()">
      <label class="control-label">Title</label>
      <div class=" input-group"> 
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        <input type="text" ng-model="post.title" class="form-control" placeholder="post title">
      </div>
      <label>Description</label> 
      <div class="input-group">  
       <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
       <textarea type="text" ng-model="post.description" class="form-control"></textarea>
     </div>

  <div id="direct_upload" 
    ngf-drop="uploadFiles($files)"
    ngf-drag-over-class="dragOverClass($event)"
    ng-model="files"
    ng-multiple="true">
    <label>Upload a picture</label>
    <div class="input-group">
      <a href="#" ngf-select="uploadFiles($files)" multiple title="upload" resetOnClick="true"> <span class=""><i class="glyphicon glyphicon-cloud-upload"></i></span></a>
    </div>               
    <div class="file" ng-repeat="file in files">
        <h5>{{file.name}} {{f.$error}} {{f.$errorParam}}</h5>
        <div class="status">{{file.status}}</div>
        <div class="progress-bar">
          <div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
        </div>
        <label>Preview:</label>
        <div class="preview">
          <img class="preview-img" ngf-src="file.result.url || file">
        </div>
    </div>
  </div>
  <button class="btn btn-lg submit post-submit " type="submit"> Submit </button>
</form>
</div>
<!-- </div> -->
</div>

