<div class="row">
  <div class="col-sm-12 col-md-12">
  <p ng-if="posts.length === 0"> You don't have any active posts currently.</p>
  <div class="col-sm-3"ng-repeat="post in posts | filter: matchesSearch track by post._id" >
    <div class="thumbnail">
      <img ng-src="{{post.secure_url}}" alt="{{post.title}}" class="harvest-img">
      <div class="caption">
        <h3>{{post.title}}</h3>
        <p>{{post.description}}</p>
        <p><a href="#" class="btn btn-warning" role="button" ng-click="claim(post._id, $index, post)">Delete</a></p>
      </div>
    </div>
  </div>
</div>